<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/bffa54e87e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secury | The online web app platform that provides information about crimes in El Poblado</title>
     <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-color: lightblue;">
    <header>
        <div class="title">
            <h1>Welcome to Secury</h1>
        </div>
    </header>

    <div class="main-container">
        <div class="title">
            <div class="icon">
                <i class="fas fa-home"></i>
            </div>
            <div class="home-title">
                <h2>Home</h2>
            </div>
        </div>
        <div class="container-info">
            <ul>
                <li><a href="/">Hacer un Reporte</a></li>
                <li><a href="/mapa">Mostrar Mapa</a></li>
                <li><a href="">Ver Gráficas</a></li>

            </ul>
        </div>
    </div>
    <div class="report-container">
        <h2 style="text-align: center;">Reporte</h2>
        <div class="formulario">
            <form id="submiter">
                <div class="form-item">
                    <label for="lugar">lugar</label>
                    <input type="text" id="direccion">
                </div>
                <div class="form-item">
                    <label for="hora">Hora</label>
                    <input type="time" id="hora">
                </div>
                <div class="form-item">
                    <label for="tipo-de-robo">Tipo de Robo</label>
                    <input type="text" id="tipo">
                </div>
                <button>Enviar</button>
            </form>
        </div>
    </div>

<script src="/js/index.js"></script>

</body>


</html>