<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/bffa54e87e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secury | The online web app platform that provides information about crimes in El Poblado</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.5.1/dist/esri-leaflet.js"
        integrity="sha512-q7X96AASUF0hol5Ih7AeZpRF6smJS55lcvy+GLWzJfZN+31/BQ8cgNx2FGF+IQSA4z2jHwB20vml+drmooqzzQ=="
        crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
        integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
        crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
        integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
        crossorigin=""></script>
</head>

<body style="background-color: lightblue;">
    <header>
        <div class="title">
            <h3>Welcome to Secury</h3>
        </div>
    </header>

    <div class="map-wrapper">
        <div id="map"></div>
        <div class="all-containers">
            <div class="main-container">
                <div class="title">
                    <div class="icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="home-title">
                        <h4>Home</h4>
                    </div>
                </div>
                <div class="container-info">
                    <ul>
                        <li><a href="/">Hacer un Reporte</a></li>
                        <li><a href="/mapa">Mostrar Mapa</a></li>
                        <li><a href="">Ver Gráficas</a></li>

                    </ul>
                </div>
            </div>
            <div class="report-container">
                <h4 style="text-align: center;">Reporte</h4>
                <div class="formulario">
                    <form id="submiter">
                        <div class="form-item">
                            <label for="lugar">lugar</label>
                            <input type="text" id="direccion">
                        </div>
                        <div class="form-item">
                            <label for="hora">Hora</label>
                            <input type="time" id="hora">
                        </div>
                        <div class="form-item">
                            <label for="tipo-de-robo">Tipo de Robo</label>
                            <input type="text" id="tipo">
                        </div>
                        <button>Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>


</body>


</html>