
body{
    background-color: coral;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 30px;
}
header{
    background-color: #f1f1f1;
    color: #333333;
    padding: 10px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 0 5px 10px 15px;
    top: 130px;
    left: 2%;
    width: 22%;
    height: 450px;
    z-index: 99999;
}
.title{
    display: flex;
    flex-direction: row;
}
.icon{
    display: flex;
align-items: center;
padding: 7px;

}
.fas{
    font-size: 35px;
    color: black;
}

container-info{
    display: flex;
}

li{
    list-style-type: none;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.map-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    
    top:30px;
    
}
#map{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.report-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
    top: 10%;
    background: white;
    height: 500px;
    width: 50%;
    border-radius: 35px;
    align-items: center;
    z-index: 99999;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px 120px 20px 0;
    align-items: flex-end;
}
.form-item{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}
input{
    margin-left: 5px;
    border-radius: 25px;
    width: 200px;
    outline-style: none;
    font-size: 25px;
    padding: 5px;
}
button{
    width: 100px;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    text-align: center;
}